<!DOCTYPE html>
<html 
th:replace="~{layout/application :: layout(~{::title}, ~{::body}, ~{})}"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<img th:src=@{${jobModel.imageUrl}} height='200' width='300'/>
<h1 th:text="${jobModel.jobTitle}" style="text-align: left">Job Title</h1>
<p>Created by : <a th:text="${jobModel.userModel.fullName}" th:href="@{'/admin/'+${jobModel.userModel.id}}"></a></p>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" 
src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0&appId=162735362079130&autoLogAppEvents=1" 
nonce="F2HXguOE"></script>
<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" 
data-size="small"><a target="_blank" 
href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" 
class="fb-xfbml-parse-ignore">Share</a></div><br><br>

<div id="upload_form"></div>
<h4>Job Type :</h4>
 <ul style="list-style-type:none">
   <th:block th:each="typeModel : ${typeModels}">
      <li th:utext="${typeModel.name}" style="padding-left: 0px">Job Type</li>
    </th:block>
 </ul>
 <h4>Job Field:</h4>
<p th:utext="${jobModel.fieldName}"></p>
 <h4>Position:</h4>
<p th:utext="${jobModel.position}"></p>
<h4>Company Introduction</h4>
   Company Website : <a th:utext="${jobModel.companyWebsite}"></a><br>
   Company Name :<span th:utext="${jobModel.companyName}"></span><br>
   Company Address :<span th:utext="${jobModel.address}"></span>
<p th:text="${jobModel.introduction}"></p>
<h4>Job Description</h4>
<p th:text="${jobModel.description}"></p>
<h4>Job Requirements</h4>
<p th:text="${jobModel.requirement}"></p>

<h4>Why You'll Love Working Here</h4>
<p th:text="${jobModel.reason}"></p>

<h5>Deadline</h5>
<p th:text="${jobModel.deadLine}"></p>
<div th:unless="${jobModel.existApplication}">
 <button type="button" class="btn btn-primary" id="cvbutton" data-toggle="modal" data-target="#exampleModal">
  Applicant
</button>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form   th:action="@{'/jobs/'+${jobModel.id}+'/savecv'}" th:object="${jobModel}" th:method ="POST" enctype="multipart/form-data" id="cvform">
          <table>
             <tr>
             <td colspan="2">File Upload</td>
             </tr>
             <tr>
             <td><input name="csv" type="file" /></td>
             </tr>
             <tr>
               <td colspan="2">
               <input type="submit" value="submit" class="btn btn-success"/> 
                </td>
             </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
 <div id="show_message"></div>
 <div th:if="${jobModel.existApplication}">
 <div>CV upload successfull</div>
 </div>
 <div id="cv_form"></div>
 <button ><a th:href="@{'/sendEmail/'+${jobModel.id}}" id="sendEmail">Send Email</a></button>
 <div id="emailsuccess"></div>
<script>
$('#uploadform').click(function(event){
	alert("su kien da xay ra chua ");
	event.preventDefault();
	event.stopPropagation();
	$.ajax({
		
		type: 'GET',
		url: $(this).attr('href'),
		success : function(data, textStatus, xhr){
			$('#upload_form').html(data);
		}
		
	});	
});
$('#apply').click(function(event){
event.preventDefault();
event.stopPropagation();
$.ajax({
	type: 'GET',
	url: $(this).attr('href'),
	success : function(data, textStatus, xhr){
		$('#apply').html(data);
	}
	
});
});
</script>
<script>
   //form Submit
   $("#cvform").submit(function(event){	 
	   alert("xem su kien vao chua")
	   event.preventDefault();
	   event.stopPropagation();
      var formData = new FormData($(this)[0]);
   $.ajax({

	   url : $(this).attr('action'),
       type: 'POST',
       data: formData,
       async: false,
       cache: false,
       contentType: false,
       enctype: 'multipart/form-data',
       processData: false,
       success: function (data, textStatus, xhr) {
    	   $('#show_message').html(data);
    	   $('#exampleModal').modal('hide');
       }
   });
   return false;
 });
</script>
<script>
$('#sendEmail').click(function(event){
	 alert("xem su kien vao chua")
	   event.preventDefault();
	   event.stopPropagation();
	   $.ajax({
			type: 'POST',
			url: $(this).attr('href'),
			success : function(data, textStatus, xhr){
				$('#emailsuccess').html(data);
			}
			
		});
		});

</script>
</body>
</html>