<!DOCTYPE html>
<?xml version="1.0" encoding="UTF-8"?>

<html xmlns:th="http://www.thymeleaf.org">
<head>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css} " />
<!-- <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}"> -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}">
<link rel="stylesheet"
	th:href="@{/webjars/font-awesome/css/fontawesome.min.css}"></link>
<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
<link th:href="@{/css/admincustom.css}" rel="stylesheet" type="text/css"
	media="all" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/adminfooter.css}">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/adminheader.css}">

<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

</head>
<body>
   <p><a th:utext="${jobModel.qtyApplycantByJobId}" th:id="'applicant-'+${jobModel.id}" 
   th:href="@{'/jobs/'+${jobModel.id}+'/applicant'}">Application</a></p>
     
   <div th:id="'show_applicant-'+${jobModel.id}"></div>
	<script>
	$('#applicant-[[${jobModel.id}]]').click(function(){
		alert("xem ajax vao chua");
		event.preventDefault();
		event.stopPropagation();
		
		$.ajax({
			type: 'GET',
			url:$(this).attr('href'),
			success : function(data, textStatus,xhr){
				$('#show_applicant-[[${jobModel.id}]]').html(data);
			}
		});
	});
	</script>

</body>
</html>