<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
	</head>
	<body>
		<header th:fragment="copy">
			<div class="header">
				<div class="header-left">
					<div id="adminlogo" ><a th:href="@{/}"><img src="img/logo.png"></a></div>
					<a th:href="@{/jobs/all}" class="header-left-1">Jobs</a>
					<a th:href="@{/}" class="header-left-1">Stores</a>
					<a  class="header-left-1" th:href="@{/admin/1}">Admin</a>
				</div>
               
				<div class="header-right">
				   
					<a th:href="@{/}"><img class="header-logo" src="img/search.png"/></a>
					<a th:href="@{/}"><img class="header-logo" src="img/people.png"/></a>
					<a th:href="@{/}"><img class="header-logo" src="img/message.png"/></a>
					<a th:href="@{/}"><img class="header-logo" src="img/notification.png"/></a>
				</div>

			</div>
		</header>
	</body>
</html>