<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
	</head>
	<body>
		<header th:fragment="copy">
			<div class="header">
				<div class="header-left">
					<a id="logo" th:href="@{/}"><img src="img/logo.png"></a>
					<a th:href="@{/}" class="header-left-1">Jobs</a>
					<a th:href="@{/}" class="header-left-1">Stores</a>
				</div>

				<div class="header-right">
					<a th:href="@{/}"><img class="header-logo" src="img/search.png"/></a>
					<a th:href="@{/}"><img class="header-logo" src="img/people.png"/></a>
					<a th:href="@{/}"><img class="header-logo" src="img/message.png"/></a>
					<a th:href="@{/}"><img class="header-logo" src="img/notification.png"/></a>
				</div>

			</div>
		</header>
	</body>
</html>