<!DOCTYPE html>
<html
	th:replace="~{layout/application :: layout(~{::title}, ~{::body}, ~{})}"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="copy (experience)">
		<p th:text="${experience.companyName}"></p>
		<span th:href="/@{'/edit/'+${experience.id}"
			th:id="'experience-'+${experience.id}">Edit</span>
		<span>.................................</span>
		<span th:text="${experience.startYear}"></span>
		<span>-</span>
		<span th:text="${experience.startMonth}"></span>
		<span>-</span>
		<span th:text="${experience.endYear}"></span>
		<span>-</span>
		<span th:text="${experience.endMonth}"></span>
		<p th:text="${experience.jobTitle}"></p>
		<span th:href="/@{'/edit/'+${experience.id}"
			th:id="'experience-'+${experience.id}">Edit</span>
		<p th:text="${experience.description}"></p>

		<script>
			$('#experience-[[${experienceModel.id}]]').click(function(event) {
				event.preventDefault();
				event.stopPropagation();
				$.ajax({
					type : 'GET',
					url : $(this).attr('href'),
					success : function(data, textStatus, xhr) {

						$('#experience-[[$experience.id]]').html(data);
					}

				})
			});
		</script>
	</th:block>

</body>
</html>