<!DOCTYPE html>
<?xml version="1.0" encoding="UTF-8"?>

<html 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link th:href="@{/css/login.css}" rel="stylesheet" type="text/css" media="all" />

</head>
<body style="text-align: center;">
<div>
<h2 class="text-center">Forgot Password</h2>
</div>
<div th:if="${error != null}">
<p class="text-center">[[${error}]]</p>
</div>
<div th:if="${message != null}">
<p class="text-center">[[${message}]]</p>
</div>
<div>
<p class="text-center">We will be sending a reset password link to your email</p>
</div>
<div class="text-center">
<form style="display: inline-block;width: 20%;" th:action="@{/forgot_password}" method="POST">
<input type="email" name="email" class="form-control" />
<input type="submit" value="Send" class="btn btn-primary" />
</form>
</div>
</body>
</html>