<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/application :: layout(~{::title}, ~{::body}, ~{})}">
<head>
	<title th:text="#{user.show.title}">User Info</title>
</head>
<body>
	<div id="content_body">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-8">
				<div class="container content_body_container">
					<h5 style="display: inline-block">Seft introduction</h5>
					<a  th:href="@{/introduction}" id="introduction">
					<i class="fas fa-edit content_decor">Edit</i>
					</a>
					<div id="_introduction_show" th:text="${userModel.seftIntroduction}"></div>
					<div id="_introduction_form_wrapper"></div>
				</div>
				<div class="container content_header">
					<h5 style="display: inline-block">Ambition</h5>
					<a th:href="@{/ambition}" id="ambition"> 
					<i class="fas fa-edit content_decor">Edit</i>
					</a>
					<div id="_ambition_show" th:text="${userModel.ambition}"></div>
					<div id="_ambition_form_wrapper"></div>
				</div>
				
				<div class="container content_header">
					<h5 style="display: inline-block">Work Experience</h5>
					<a class="content_decor" th:href="@{/experience}" id="experience">
						<i class="fas fa-plus-circle"></i>Add
					</a>
					<ul id="experience_show">
					    <li th:replace="experiences/index :: copy"></li>
						<!-- <th:block th:each="experience : ${experienceModels}">
							<li th:replace="~{experiences/_detail :: copy(${experience})}"></li>
						</th:block> -->
					</ul>
					<div id="_experience_form_wrapper"></div>
				</div>
				
				<div class="container content_header">
					<h5 style="display: inline-block">Project</h5>
					<i class="fas fa-edit content_decor">Edit</i>
				</div>
				<div class="container content_header">
					<h5 style="display: inline-block">Portfolio</h5>
					<i class="fas fa-edit content_decor">Edit</i>
				</div>
				<div class="container content_header">
					<h5 style="display: inline-block">Education</h5>
					<a th:href="@{/education}" id="education">
					<i class="fas fa-edit content_decor">Add</i>
					</a>
					<ul id="education_show">
					    <li th:replace="educations/index :: copy"></li>
					</ul>
					<div id="_education_form_wrapper"></div>
				</div>
				<div class="container content_header">
					<h5 style="display: inline-block">Skills</h5>
				</div>
				
				<div th:id="'skill-'+${userModel.id}" th:replace="~{skills/form :: copy}"></div>

			</div>
			<div class="col-md-4" id="upload_resume">
				<div>
					<h6>Upload resume</h6>
					<a class="import-resume-btn auxiliary-upload-resume-btn" href="#">
						<i class="fas fa-file-upload"></i>Upload PDF resume
					</a>
				</div>
			</div>
			
			<div class="container content_header">
				<h5 style="display: inline-block">Certificate</h5>
				<a class="content_decor" th:href="@{/certificate}" id="certificate">
					<i class="fas fa-plus-circle"></i>Add
				</a>
				<ul id="certificate_show">
					 <li th:replace="users/certificate/_index :: copy"></li>
				</ul>
				<div id="_certificate_form_wrapper"></div>
			</div>
						
			<div class="container content_header">
				<h5 style="display: inline-block">Basic Info</h5>
				<a class="content_decor" th:href="@{/basic/edit}" id="basic_info">
					<i class="fas fa-plus-circle"></i>Add
				</a>
				<ul id="basic_info_show">
					<li th:replace="users/basicinfo/_index :: copy"></li>
				</ul>
				<div id="_basic_info_form_wrapper"></div>
			</div>
		</div>
		</div>

		<script>
			$('#experience').click(function(event) {
				event.preventDefault();
				event.stopPropagation();
				$.ajax({
					type : 'GET',
					url : $(this).attr('href'),
					success : function(data, textStatus, xhr) {
						$('#_experience_form_wrapper').html(data);
					}
				});
			});
		</script>
		
		<script>
			$('#basic_info').click(function(event) {
				event.preventDefault();
				event.stopPropagation();
				$.ajax({
					type : 'GET',
					url : $(this).attr('href'),
					success : function(data, textStatus, xhr) {
						$('#_basic_info_form_wrapper').html(data);
					}

				});
			});
		</script>
		
		<script>
			$('#certificate').click(function(event) {
				event.preventDefault();
				event.stopPropagation();
				$.ajax({
					type : 'GET',
					url : $(this).attr('href'),
					success : function(data, textStatus, xhr) {
						$('#_certificate_form_wrapper').html(data);
					}

				});
			});

		   $('#education').click(function(event){
			   event.preventDefault();
			   event.stopPropagation();
			   $.ajax({
				   type:'GET',
				   url: $(this).attr('href'),
			       success : function(data, textStatus, xhr){
			    	   $('#_education_form_wrapper').html(data);
			       }
			   });
		   });
		   
		   $('#introduction').click(function(event){
			   event.preventDefault();
			   event.stopPropagation();
			   $.ajax({
				   type : 'GET',
				   url: $(this).attr('href'),
				   success : function(data, textStatus, xhr){
					   $('#_introduction_form_wrapper').html(data);
				   }
			   });
		   });
		   
		   $('#ambition').click(function(event){
			   event.preventDefault();
			   event.stopPropagation();
			   $.ajax({
				   type :'GET',
				   url : $(this).attr('href'),
				   success : function(data, textStatus, xhr){
					   $('#_ambition_form_wrapper').html(data);
				   }
				   
			   });
		   });
	</script>
</body>
</html>