<!DOCTYPE html>
<html
	th:replace="~{layout/application :: layout(~{::title}, ~{::body}, ~{})}"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<th:block th:fragment="copy (experience)">
		<li >
          <div th:id="'experience_old-' +${experience.id}">
			<a th:href="@{'/experience/'+${experience.id}+'/edit'}"
				th:id="'experience-edit-'+${experience.id}"
				th:data-experience_id="${experience.id}">Edit</a>
			<p th:text="${experience.companyName}"></p>
			<span th:text="${#dates.format(experience.startTime, 'MM/dd/yyyy')}"></span> <span>-</span> <span
				th:text="${#dates.format(experience.endTime, 'MM/dd/yyyy')}"></span>
			<p th:text="${experience.jobTitle}"></p>
			<p th:text="${experience.description}"></p>
			<span>..........................................................</span>
		   </div>
		   <div th:id="'experience_new-' +${experience.id}"></div>
		</li>
	</th:block>	
</body>
</html>