<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="copy">
  <ul>
	<th:block  th:each="experience : ${experienceModels}">
	  <li th:replace="~{experiences/_detail :: copy(${experience})}"></li>
	</th:block>
  </ul>
  <script>
	$('#experience_show a[id^="experience-edit-"]').click(function(event) {
		event.preventDefault();
		event.stopPropagation();
		var id = $(this).data('experience_id');
		$.ajax({
			type : 'GET',
			url : $(this).attr('href'),
			success : function(data, textStatus, xhr) {
				$('#experience_new-'+id).html(data);
			}

		})
	});
  </script>
</div>
</body>
</html>